#loadingscreen {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
}

.projectdiv {
  flex: 1 1 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shortFadeIn {
  opacity: 0;
  animation: fadeIn 750ms ease 1;
  animation-fill-mode: forwards;
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 1s ease 1;
  animation-fill-mode: forwards;
  animation-delay: 2250ms;
  pointer-events: none;
}

.max {
  height: 100%;
  width: 100%;
}

.maxswitch {
  height: calc(100% - 92px);
  width: 100%;
}

.page {
  flex: 1 1 auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.centerVertically {
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}

.projectrow {
  display: flex;
  flex-direction: row;
}

svg.contact {
  height: 100px;
  width: 100px;
}

div#contact {
  flex-direction: row-reverse;
}
