:root {
  --init: translate(-50%, -50%);
  --a1-transform: translate(-50%, calc(-50% - 50px));
  --n1-transform: translate(calc(-50% + 100px), calc(-50% - 50px));
  --y-transform: translate(calc(-50% - 100px), calc(-50% - 50px));
  --r-transform: translate(calc(-50% - 200px), calc(-50% - 50px));
  --a2-transform: translate(-50%, calc(-50% + 50px));
  --n2-transform: translate(calc(-50% + 100px), calc(-50% + 50px));
  --d-transform: translate(calc(-50% - 100px), calc(-50% + 50px));
  --g-transform: translate(calc(-50% + 200px), calc(-50% + 50px));
  --ani-delay: 250ms;
}

.titleHeading{ 
  font-weight: 900; 
  font-size: 20px;
}

@media print {
  #nav, #climbing,#printbutton, #extraspace {
      display: none;
  }
  .introDesc{
    margin-bottom: 15px;
  }
  .paragraphStyle {
    font-size: 13.5px;
    color: black;
  }
  .titleHeading {
    font-size: 15px;
  }
  .categoryHeading{
    margin-top: 3px;
    font-size: 16px;
    color: black;
  }
  .nameStyle{
    font-size: 32px;
  }
  ul, hr{
    margin: 0;
    margin-bottom: 0;
  }
}

img, a {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

svg.icon {
  height: 35px;
  width: 35px;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  fill: white;
}

svg.contact {
  height: 175px;
  width: 175px;
  padding: 5px;
  margin: 0;
  fill: #231F20;
}

svg.contact#mail:hover {
  fill: #B23121;
}
svg.contact#linkedin:hover {
  fill:  #0077B5;
}
svg.contact#github:hover {
  fill: #28a745;
}

svg.icon:hover {
  fill: #FF4365;
}

a {
  height: 25px;
  text-decoration: none;
  color: white;
  padding: 0;
}

span.footer {
  bottom: 0;
  margin-right: 10px;
  justify-content: center;
}

span {
  font-family: "Raleway";
  font-weight: 100;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
}

div.logo {
  z-index: 3;
  width: 100%;
  opacity: 0;
  display: flex;
  border: 10px solid #231F20;
  background-color: #231F20;
  align-items: center;
}

div#footer {
  opacity: 0;
  display: flex;
  flex-direction: row-reverse;
  border-right: 10px solid #231F20;
  background-color: #231F20;
  justify-content: flex;
  align-items: 'center';
}

span.logo,
span.badge {
  text-orientation: upright;
  writing-mode: vertical-lr;
}

span.intro {
  color: black;
  position: fixed;
  font-size: 112px;
  left: 50%;
  top: 50%;
  animation-fill-mode: forwards;
  opacity: 0;
  pointer-events: none;
}

span#a1 {
  transform: var(--init);
  z-index: 1;
  animation: moveA1 2s ease 1;
  animation-delay: var(--ani-delay);
}

span#n1 {
  transform: var(--a1-transform);
  z-index: 0;
  animation: moveN1 2s ease 1;
  animation-delay: var(--ani-delay);
}

span#y {
  transform: var(--a1-transform);
  z-index: 0;
  animation: moveY 2s ease 1;
  animation-delay: var(--ani-delay);
}
span#r {
  transform: var(--y-transform);
  z-index: 0;
  animation: moveR 2s ease 1;
  animation-delay: var(--ani-delay);
}

span#a2 {
  transform: var(--init);
  z-index: 1;
  animation: moveA2 2s ease 1;
  animation-delay: var(--ani-delay);
}

span#n2 {
  transform: var(--a2-transform);
  z-index: 0;
  animation: moveN2 2s ease 1;
  animation-delay: var(--ani-delay);
}

span#d {
  transform: var(--a2-transform);
  z-index: 0;
  animation: moveD 2s ease 1;
  animation-delay: var(--ani-delay);
}

span#g {
  transform: var(--n2-transform);
  z-index: 0;
  animation: moveG 2s ease 1;
  animation-delay: var(--ani-delay);
}

#n1,
#n2,
#r,
#d,
#g,
#y {
  visibility: hidden;
}

@keyframes moveA1 {
  0% {
    transform: var(--init);
    opacity: 0;
  }
  27% {
    transform: var(--a1-transform);
    opacity: 1;
  }
  81% {
    transform: var(--a1-transform);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: var(--a1-transform);
  }
}
@keyframes moveA2 {
  0% {
    transform: var(--init);
    opacity: 0;
  }
  27% {
    transform: var(--a2-transform);
    opacity: 1;
  }
  81% {
    transform: var(--a2-transform);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: var(--a2-transform);
  }
}

@keyframes moveN2 {
  26% {
    visibility: hidden;
  }
  27% {
    transform: var(--a2-transform);
    visibility: visible;
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  54% {
    transform: var(--n2-transform);
    visibility: visible;
    opacity: 1;
  }
  81% {
    transform: var(--n2-transform);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: var(--n2-transform);
    visibility: visible;
    opacity: 0;
  }
}

@keyframes moveN1 {
  26% {
    visibility: hidden;
  }
  27% {
    transform: var(--a1-transform);
    visibility: visible;
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  54% {
    transform: var(--n1-transform);
    visibility: visible;
    opacity: 1;
  }
  81% {
    transform: var(--n1-transform);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: var(--n1-transform);
    visibility: visible;
    opacity: 0;
  }
}

@keyframes moveY {
  26% {
    visibility: hidden;
  }
  27% {
    transform: var(--a1-transform);
    visibility: visible;
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  54% {
    transform: var(--y-transform);
    visibility: visible;
    opacity: 1;
  }
  81% {
    transform: var(--y-transform);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: var(--y-transform);
    visibility: visible;
    opacity: 0;
  }
}

@keyframes moveD {
  26% {
    visibility: hidden;
  }
  27% {
    transform: var(--a2-transform);
    visibility: visible;
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  54% {
    transform: var(--d-transform);
    visibility: visible;
    opacity: 1;
  }
  81% {
    transform: var(--d-transform);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: var(--d-transform);
    visibility: visible;
    opacity: 0;
  }
}

@keyframes moveG {
  53% {
    visibility: hidden;
  }
  54% {
    transform: var(--n2-transform);
    opacity: 0;
    visibility: visible;
  }
  68% {
    opacity: 1;
  }
  81% {
    transform: var(--g-transform);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: var(--g-transform);
    visibility: visible;
    opacity: 0;
  }
}

@keyframes moveR {
  53% {
    visibility: hidden;
  }
  54% {
    transform: var(--y-transform);
    opacity: 0;
    visibility: visible;
  }
  68% {
    opacity: 1;
  }
  81% {
    transform: var(--r-transform);
    visibility: visible;
    opacity: 1;
  }
  81% {
    transform: var(--r-transform);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: var(--r-transform);
    visibility: visible;
    opacity: 0;
  }
}
